canvas {
  display: block;
  margin: 20px;
  background-color: white;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin: auto;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  border: #fff;
  background-color: #fff;
  margin: 10px;
}
.btn-icon:hover {
  background-color: rgb(160, 160, 160);
}

.input-txt {
  margin: 10px;
  border-radius: 6px;
  font-family: montserrat, sans-serif;
  font-size: large;
  border: #fff;
  background-color: #fff;
  height: 50px;
  width: 300px;
  text-align: center;
}

.input-color {
  border-radius: 6px;
  border: #fff;
  background-color: #fff;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.tools-nav {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.btn-sd {
  font-family: montserrat, sans-serif;
  color: #ffff;
  font-size: 14px;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border: #fff;
  background-color: #fd5be2;
  margin: 20px 5px 5px 5px;
}

.btn-sd:hover {
  background-color: #fd5be2;
}
