.Nav-bar-bg {
  height: 70px;
  padding: 8.5px 25px 0 24.5px;
  background-color: #ff7f00;
}

.logo {
  height: 25px;
  width: 150px;
}

.Nav-bar-bg ul {
  font-family: montserrat, sans-serif;
  color: #ffff;
  font-size: larger;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.Nav-bar-bg li{
  padding: 10px;
}
